.badge {
  padding: 10px 20px;
  border: 1px solid #333;
  background: #fff;
  color: #333;
  border-radius: 30px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 480px) {
  .badge {
    font-size: 12px;

    .badge__icon {
      width: 10px;
      height: 10px;
    }
  }
}
