button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.star {
  font-size: 30px;
}
.on {
  color: rgb(251, 255, 0);
}
.off {
  color: #ccc;
}

@media screen and (max-width: 480px) {
  .star {
    font-size: 24px;
  }
}
