.reviewList {
  &__item {
    &-summary {
      width: 100%;
      height: 60px;
      background: #fff;
      color: #091033;
      border-radius: 16px;
      font-weight: bold;
      font-size: 20px;
      display: flex;
      padding: 20px;
      align-items: center;
      justify-content: space-between;

      &:hover {
        cursor: pointer;
      }
    }

    &-body {
      color: #091033;
      background: #fff;
      padding: 20px;
      text-align: start;
      margin: 0;
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
    }

    &[open] {
      .reviewList__item-summary {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 1px solid #091033;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .reviewList__item {
    &-summary {
      font-size: 16px;
    }
  }
}
