.movieDetails__container {
  display: flex;
  padding: 80px 20px;

  & > * {
    flex: 1;
    padding: 0 20px;
  }
}

@media screen and (max-width: 480px) {
  .movieDetails__container {
    flex-direction: column;
    padding: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .movieDetails__container {
    text-align: left;
  }
}
